/* SECTION 2: Skills*/
.skills-section {
  padding: 0 40px;
  margin-bottom: 160px;
}

.h2-skills {
  margin-bottom: 20px;
}

.skills-section h2 {
  text-align: center;
  font-size: 35px;
}

.skills-section .text {
  text-align: center;
  margin-bottom: 20px;
}

.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-section .cell:hover {
  background-color: var(--text-color);
  color: #fff;
}

.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 170px;
  padding: 10px 20px; 
  margin: 10px;
  border: 1.5px solid #d3d3d3;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.skills-section .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.skills-section .cells .cell span {
  font-size: 18px;
}

@media (max-width: 600px) {
  /* SECTION 2: Skills*/
  .skills-section {
    padding: 0 20px;
  }

  .skills-section .cells .cell span {
    font-size: 16px;
  }
}